
<input #name placeholder="message" type="text" />
<button (click)="changeName(name.value)">send message</button>
{{safeOperator?.name}}

<div [ngSwitch]="validation.name">
    <div *ngSwitchCase="'test1'">test1</div>
    <div *ngSwitchCase="'test2'">test2</div>
    <div *ngSwitchCase="'test3'">test3</div>
    <div *ngSwitchDefault>Default Text</div>
</div>
<div>
    <li *ngFor="let a of greeting | slice:0:4; let i=index">{{i+1}}=>{{a}}</li>
</div>
<div [hidden]="!validation.status">
    <div>this is show hide properties</div>
</div>
<div id="elementId">
    <h3>Jquery integration</h3>
</div>
<input #myname (input)="updateName(myname.value)">{{myName}}
<br>
<p>Interpolated value:</p>
<div >{{htmlSnippet}}</div>
<p>Binding of innerHTML:</p>
<div [innerHTML]="htmlSnippet"></div>
<input #uname>
<p></p>

<h1>Hero Form</h1>
<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="fruite.name" name="name">
    <!-- <input type="text" class="form-control" id="name" [(ngModel)]="frutType" name="name"> -->
    <input type="checkbox" [(ngModel)]="fruite.harddrive" [ngModelOptions]="{standalone: true}"/>
    <input type="radio" [(ngModel)]="fruite.color"  value="male" name="gender" >
    <input type="radio" [(ngModel)]="fruite.color"  value="female" name="gender" >
    
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
</form>
<app-writer>
  <appBook bookId="1" bookName="Java 8 Tutorials" *ngIf="!latestBook"></appBook>
  <appBook bookId="2" bookName="Learning Angular 4" *ngIf="latestBook"></appBook>
</app-writer>
<br>
<app-favorite-book>
    <appBook bookId="1" bookName="Hibernate 4 Tutorials"></appBook>
    <appBook bookId="2" bookName="Spring Boot Tutorials"></appBook>
  <app-favorite-book>
    <appBook bookId="3" bookName="Learning JavaScript"></appBook>
  </app-favorite-book>   
  <app-favorite-book *ngIf="showAllBook">
    <appBook bookId="4" bookName="Thymeleaf Tutorials"></appBook>
    <appBook bookId="5" bookName="Android Tutorials"></appBook>
  </app-favorite-book> 
</app-favorite-book>
<br>
<app-friend>
    <div #name *ngIf="bestFriend">Mahesh</div>
    <div #name *ngIf="!bestFriend">Krishna</div>
</app-friend>
<br>
<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>
<br>
<app-number></app-number>
<br>
<app-office name="karvy" address="hyderabad"></app-office><br>
<app-office name="icici" address="nanakaramguda"></app-office><br>
<app-office name="k-fintech" address="gowlididdi"></app-office><br>
<app-office name="qcity" address="qcity"></app-office><br>
<br>
<div>
    <div #pname>Mohit</div>
    <div #pname>Anup</div>
    <div #pname>Nilesh</div>
</div>
<br>
<h3>ng-template with ngFor</h3>
<ng-template ngFor let-persion [ngForOf]="allPersions" let-i=index>
    <p>Hello {{i+1}}--{{persion.name}}</p>
</ng-template> 
<br>

<h3>TemplateRef and ViewContainerRef</h3>
<ng-template #karyInfo>
    Welcome to you.<br/>
   Happy learning!
</ng-template>
<br>
<div appBook></div>

<ng-template [ngIf]="shouldSayHello" #viewTemplate>
   hello world
</ng-template>

<div >hello</div>
<ng-content *ngTemplateOutlet="viewTemplate"></ng-content>
<br>
<button appCounting>Increment</button>





